.footer {
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media (max-width: 425px) {
    .footer {
        flex-wrap: wrap;
        margin-left: 16px;
        margin-top: 64px;
        padding-bottom: 0;
        flex-direction: column;
    }
}