.place__url-heading {
    font-size:  12px;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
}

