.place__website {
    max-width: 456px;
    margin-top: auto;
}

@media (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media (max-width: 425px) {
    .place__website {
        margin-left: 16px;
        max-width: 288px;
    }
}
